<%# <h1>Friends</h1> %>
<% if model_signed_in? %>
<div class="row justify-content-end">
  <div class="col-auto">
  <%= link_to "Download Excel", export_excel_friends_path(format: 'xlsx'), class: "btn btn-primary" %>
</div>
<div class="col-auto">
  <%= link_to "Download PDF", export_pdf_friends_path(format: 'pdf'), class: "btn btn-primary" %>
</div>
  </div>

  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>First name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
      <% if friend.model == current_model %>
        <tr>
          <td><%= link_to friend.first_name + '' + friend.last_name , friend %></td>
          <td><%= link_to friend.email, "mailto:#{friend.email}" %></td>
          <td><%= link_to friend.phone, "https://wa.me/#{friend.phone}", target: "_blank"  %></td>
          <td><%= link_to friend.twitter, "https://twitter.com/#{friend.twitter}", target: "_blank" %></td> 
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%= link_to "New friend", new_friend_path, class:"btn btn-secondary" %>
<% else %>
  <h1>Hello World! </h1>
  this is my first rails webpage
<% end %>

<div class="pagination">
  <%= will_paginate @friends, :class => 'text-right' %>
</div>
